<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recover password</title>
</head>
<body>
  <div class="form">
    <!-- Recover password form container -->
    <form action="#">
      <h3>Recuperar contraseña</h3>

      <!-- Email input box -->
      <div class="input_box">
        <label for="email">Correo Electronico</label>
        <input
          type="email"
          id="email"
          placeholder="Ingresar correo electronico"
          required
        />
      </div>

      <!-- Recover password button -->
      <button type="submit">Recuperar contraseña</button>

      <p class="sign_up">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Iniciar Sesion</a
        >
      </p>
    </form>
  </div>
</body>
