<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Iniciar Sesion</title>
</head>
<body>

  <amplify-authenticator [loginMechanisms]="['email']" [signUpAttributes]="['name']">
    <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
   
  <div class="container">
    <button class="red" (click)="signOut()">X</button>
    <h1>Bienvenido {{user.signInDetails.loginId}}</h1> 
    <div class="content">     
      <p>Haz click en continuar para ir a la pantalla principal</p>      
      <button class="green" (click)="continuar()">Continuar</button>    
    </div>
  </div>
  </ng-template>
  </amplify-authenticator>
  
</body>
